* {
    margin: 0;
    padding: 0;
  
}



.fondo {
    background-image: url(s2-banner-image.png);
    background-size: cover;
    background-repeat: no-repeat;
      background-position: center top;
    height: 100%;

}

.contenedor_header {
    margin: auto;
    padding: 5% 20% 2% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}


.logo {
    width: 260px;
    height: 140px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.botones_header {
    height: 140px;
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: space-around
}


ul li a {

    font-family: 'open-sans';
    font-weight: bold;
    font-size: 24pt;
    margin: 0px 30px;
    text-decoration: none;
    color: aliceblue;

}

.linea {
    padding: 0% 20%;
}

.creative {
 
    margin: auto;
    text-align: center;
    padding: 150px 0px 0px 0px;
    height: fit-content;
    width: fit-content;
    font-size: 100pt;
    font-family: 'open-sans';
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.pverde {
    color: chartreuse;
}

.lorem {
    padding: 5% 30%;
    color: aliceblue;
    size: 14pt;
    font-family: Arial;
    text-align: center;
}

.readmore{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: Arial;
    font-size: 14pt;
    font-weight: bold;
    width: 200px;
    margin: 5% auto 15% auto;
    
}

.readmore a{
    text-align: center;
    padding: 5%;
    border-radius: 10px 10px;
    color: aliceblue;
    height: 100%;
    width: 100%;
    background-color:limegreen;
    text-decoration: none;
}
.readmore a:hover{
background-color: aliceblue;
color:limegreen;
}


.fondoblanco{
    margin: 5% 20%;
    
    background-image: url(fondo\ blanco.png);
    background-size: 100%;
    background-repeat: no-repeat;

  

}

.servic{
    margin: 5%;
    display: felx;
    justify-content: center;
    align-items: center;
}

.servic h1{
    text-align: center;
    color: darkgray;
    font-size: 15pt;
}

.whatwe{
    margin: 5%;
    display: felx;
    justify-content: center;
    align-items: center;
}

.whatwe h1{
    text-align: center;
   
    font-size: 40pt;
}


.contenerdor4{
    margin: 5% 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
width: 100%;
}

.hijo{
    margin: 2.5% 0%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    
}

.hijo .logo{
width: 65px;
height: 65px;
}
.hijo .cabeza{
    display: flex;
    justify-content: flex-start;
margin: 2.5% 0%;
}

.hijo .texto{
    color: darkgray;
    margin: 2.5% 0%;
}

.hijo .boton{
   
    margin: 2.5% 0%;
}


.hijo .cabeza .titulo{
    margin: 10px;
}


.caja1,.caja2,.caja3,.caja4{
display: flex;
}

.iconos{
width: 65px;
min-width: 65px;
}

.hijo{
    min-width: 200px;
}

.caja1 .cabeza .logo{
background-image: url(diamante.png);

}

.caja2 .cabeza .logo{
    background-image: url(maleta.png);
}

.caja3 .cabeza .logo{
    background-image: url(tercero.png);
}

.caja4 .cabeza .logo{
    background-image: url(diamante.png);
}


.hijo .boton{
    display: flex;
    width: 150px;
    
   
    
    align-items: center;
    justify-content: center;
    
}

.hijo .boton a{
    width: 100%;
    padding: 5px ;
    border-radius: 1px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 15px 15px;
    color: darkgray;
    text-align: center;
    text-decoration: none; 
}

.hijo .boton a:hover{
    
    background-color:  limegreen;
    border-radius: 15px 15px;
    color: white;
    text-align: center;
    text-decoration: none; 
}